<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Rental</title>
    <link href="stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="nivo-slider/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="nivo-slider/default/nivo-slider.css" type="text/css" media="screen" />

    <style>
      .p_Button, #wrapper404 ul .home {
        background-color: #43667b;
        height: 26px;
        padding: 8px 15px;
        width: 129px;
      }

      .span-8 {
        width: 300px;
      }
    </style>
  </head>

  <body>
  <header>
    <div class="container">
      <a href="/">
        <h1>Bazooka</h1></a>
      <nav>
        <ul class="last">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/our_services">Our Services</a>
          </li>
          <li>
            <a href="/our_mission">Our Mission</a>
          </li>
          <li>
            <a href="/about_us">About Us</a>
          </li>
          <li>
            <a href="/contact_us">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <span class="clearfix"></span>
  <section id="slider_wrapper" class="under_header slider-wrapper theme-default container">
    <div id="slider" class="nivoSlider">
      <% @media.each do |media| %>
        <img src="<%= media.path %>" data-thumb="<%= media.path %>" alt="<%= media.alt %>" />
      <% end %>
    </div>

  </section>
  <span class="clearfix"></span>
  <section id="three_parags">
    <div class="container">
      <div class="one_parag span-8">
        <h2>Toyota Carina</h2>
        <img src="images/list_icon_03.jpg" class="top" alt="photo"/>
        <h6>PSD files included</h6>
        <p>Car Type: <strong>Toyota Carina</strong></p>
        <p>Capacity: <strong>5 Seater</strong></p>
        <p>Engine Size: <strong>1.4 cc</strong></p>
        <p>Status: <strong>Available</strong></p>
        <div class="p_Button">
          <a href="#">Book This One</a>
        </div>
      </div>
      <div class="one_parag span-8">
        <h2>Toyota Carina</h2>
        <img src="images/list_icon_03.jpg" class="top" alt="photo"/>
        <h6>PSD files included</h6>
        <p>Car Type: <strong>Toyota Carina</strong></p>
        <p>Capacity: <strong>5 Seater</strong></p>
        <p>Engine Size: <strong>1.4 cc</strong></p>
        <p>Status: <strong>Available</strong></p>
        <div class="p_Button">
          <a href="#">Book This One</a>
        </div>
      </div>
      <div class="one_parag span-8">
        <h2>Toyota Carina</h2>
        <img src="images/list_icon_03.jpg" class="top" alt="photo"/>
        <h6>PSD files included</h6>
        <p>Car Type: <strong>Toyota Carina</strong></p>
        <p>Capacity: <strong>5 Seater</strong></p>
        <p>Engine Size: <strong>1.4 cc</strong></p>
        <p>Status: <strong>Available</strong></p>
        <div class="p_Button">
          <a href="#">Book This One</a>
        </div>
      </div>
    </div>
    <span class="clearfix"></span>
  </section>
  <span class="clearfix"></span>

  <span class="clearfix"></span>
  <hr>

  <section id="from_blog" class="container">

  </section>

  <span class="clearfix"></span>
  <footer>
    <div id="top">
      <div class="container">
        <div id="footer_logo" class="span-8">logo</div>
        <div id="social_icons" class="span-8">
          <h2>Stay connected</h2>
          <ul>
            <li>
              <a href="#"><img src="images/SOCIAL-ICON_03.jpg" width="32" height="32" alt="facebook"></a></li>
            <li>
          </ul>
        </div>
        <div id="in_touch" class="span-8 last">
          <h2>Get in touch</h2>
          <p>
            <b>email</b> : <%= @email %><br>
            <b>Tel</b> : <%= @office_phone %> |
            <b>Fax</b> : <%= @fax %></p>
        </div>
      </div>
    </div>
    <div id="bottom">
      <span class="container clear">
	Copyright 2016 all rights reserved
        <span class="right last">Admin? :
          <a href="/admin">Login</a></span>
      </span>
    </div>
  </footer>
  <script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.nivo.slider.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#slider').nivoSlider();
    });
  </script>
</body>
</html>